lightweight-charts
backtrader 
Backtesting 
ccxt 
requests 
pandas 
yfinance 
scikit-learn 
numpy 
matplotlib
pandas-ta
termcolor
websockets
yahooquery
psycopg2-binary
ib_insync
protobuf>=5.29.0,<6
futu-api